.navigate {
  width: 65px;
  min-height: 100vh;
  background: linear-gradient(180deg, #1a79cf, #1e90ff);
  //box-shadow: 2px 0 12px rgba(0, 0, 0, 0.15);
  //border-radius: 0 8px 8px 0;
  overflow: hidden;
  -webkit-transition: width 1.2s linear;
  transition: width 1.2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  opacity: 1;

  &:hover {
    background: linear-gradient(180deg, #1a79cf, #1acfcf);
    width: 150px;
    overflow: hidden;
    opacity: 1;
  }
}
